.app {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0px;
  background-color: #63639f;
  font-family: "Roboto";
  margin-bottom: 5em;
}

.MuiBottomNavigation-root {
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  align-items: stretch;
  height: 20em;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.MuiSvgIcon-root {
  color: #63639f;
}

img {
  width: 20em;
  margin: 2em;
}

.logo-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background-color: #63639f;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.logo-picture {
  width: 40%;
  margin-bottom: 15px;
  margin-left: 15px;
}
.MuiButton-root {
  color: #63639f !important;
}
/* .MuiBottomNavigationAction-root.Mui-selected {
  color: #63639f;
} */
/* .MuiDialogContent-root {
  color: black !important;
} */

.MuiPaper-root {
  color: #63639f !important;
}

.MuiFormLabel-root {
  color: #63639f !important;
  border-color: #63639f !important;
}

.MuiInputLabel-outlined .MuiFormLabel-root.Mui-focused {
  color: #63639f !important;
  border-color: #63639f !important;
}

.MuiInputBase-root {
  color: #63639f !important;
  border-color: #63639f !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #63639f !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid #63639f !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 2px solid #63639f !important;
}

.MuiInputBase-input {
  color: #63639f !important;
}
#root {
  margin-bottom: 50px;
}

.MuiFab-primary {
  background-color: #63639f !important;
}

.MuiFab-label .MuiSvgIcon-root {
  color: #dcf3f4;
}

/* .MuiButton-label {
  color: #dcf3f4;
} */

.MuiButtonBase-root {
  border-color: #dcf3f4 !important;
}

.MuiTypography-colorTextSecondary {
  color: white !important;
}

/* .MuiDivider-root {
  background-color: white !important;
} */

.MuiTypography-body1 {
  font-weight: 600 !important;
}

.MuiDialogContentText-root {
  color: #63639f !important;
  font-weight: 400 !important;
}
