.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.page {
  height: 100%;
}

.MuiBottomNavigation-root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  height: 20em;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;

}

img {
  width: 25%;
  margin: 2em;
  margin-left: 3em;
}

.logo {
  background-color: #63639f;
}
