.main-logo-box {
  background-color: #63639f;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.main-logo {
  width: 60%;
}

.main-box {
  background-color: #63639f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66.8em;
}