/* master container */
.profile {
  display: flex;
  justify-content: center;
  height: auto;
  background-color: #63639f;
}

/* container for profile pictures and name */
.profile-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* profile picture */
img.profile-img {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  border:whitesmoke solid 10px;
}

/* user name */
.user-name {
  margin: 0.5em;
  font-weight: bold;
  font-family: "Roboto";
  color:white;
}

/* user info */
h3.user-info {
  color: white;
  font-family: 'Roboto';
  font-weight: 100;
}

/* first container for user details */
.profile-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 2em;
}

.contacts {
  border: 2px solid;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  /* margin: auto; */
  margin-bottom: 0;
}

