p {
  margin: 0px;
}

.profile-container {
  border: 2px solid;
  border-radius: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  /* margin: auto; */
  margin-bottom: 0;
}

.contacts {
  border: 2px solid;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  /* margin: auto; */
  margin-bottom: 0;
}
