div.map {
  background-color: white;
}

.search input {
  font-size: 1.3rem;
  width: 100%;
  padding: 0.5em;
}

div.style {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.report-icon {
  margin: 0.5em;
  margin-bottom: 1em;
  padding: 0;
  width: 2em;
  height: 2em;
}

.legend {
  font-family: "Roboto";
  margin: 0.5em;
}

.map-page {
  display: flex;
  justify-content: center;
}

.legend-icon {
  width: 1.6em;
  margin: 0;
  padding: 0.5em;
}

div.MuiSnackbarContent-root {
  padding-left: 2em;
}

.small-box {
  display: flex;
}

.big-box {
  display: flex;
  justify-content: space-between;
}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2em;
  width: 100%;
}

div.MuiSnackbarContent-message {
  padding: 0;
}

/* Mobile version*/
@media only screen and (max-width: 767px) {
  .map-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
