div.map {
  background-color: white;
}

.search input {
  font-size: 1.3rem;
  width: 100%;
  padding: 0.5em;
}

.forum-search {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  z-index: 6;
}

div.style {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.report-icon {
  margin: 0.5em;
  margin-bottom: 1em;
  padding: 0;
  width: 2em;
  height: 2em;
}

.legend {
  font-family: "Roboto";
  margin: 0.5em;
}

.map-page {
  display: flex;
  justify-content: center;
}

/* Mobile version*/
@media only screen and (max-width: 767px) {
  .map-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
