div.map {
  background-color: white;
}

.search input {
  font-size: 1.3rem;
  width: 100%;
  padding: 0.5em;
}

div.style {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.report-icon {
  margin: 0.5em;
  margin-bottom: 1em;
  padding: 0;
  width: 2em;
  height: 2em;
}

.map-page {
  display: flex;
  justify-content: center;
}

.legend-icon {
  width: 1.6em;
  margin: 0;
  padding-right: 0.5em;
}

div.MuiSnackbarContent-root {
  padding-left: 2em;
}

.small-box {
  display: flex;
}

h4.icon-label {
  margin: 0.7em;
  color: #ffff;
}

.big-box {
  display: flex;
  justify-content: space-between;
}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2em;
  width: 100%;
}

div.MuiSnackbarContent-message {
  padding: 0;
}

.info-ava-icon {
  display: flex;
  align-items: center;
  padding-bottom: 0.9em;
  padding-right: 1em;
}

.title-name {
  padding-left: 0.6em;
  margin: 0;
}

.info-window-icon {
  width: 3em;
  height: 3em;
  padding: 0;
  margin: 0;
}

.info-date {
  margin: 0;
  padding-bottom: 1em;
  padding-left: 0.1em;
}

.incident-details {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.info-button {
  margin-top: 1em;
}

.open-now {
  margin: 0;
  margin-bottom: 1em;
}

div.legend {
  position: absolute;
  padding-left: 96%;
}

.filter-button {
  padding: 1.2em;
  display: flex;
  justify-content: center;
}

.add-button {
  padding: 0;
}

.filter-markers {
  padding: 0;
  margin: 0;
}

/* Mobile version*/
@media only screen and (max-width: 767px) {
  .map-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  div.legend {
    position: absolute;
    padding-left: 83%;
  }
}
