.add-button {
  margin: 2em;
  margin-right: 0;
}

.popup {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.title {
  font-family: 'Roboto';
  margin-bottom: 0;
}

.subtitle {
  font-family: 'Roboto';
  margin-bottom: 0;
  margin-top: 5%;
}

.post {
  font-family: 'Roboto';
}