.add-button {
  margin: 2em;
  margin-right: 0;
}

.popup {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.forum-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  padding-top: 0;
}

.all-posts {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Roboto';
  margin-bottom: 0;
}

.post-title {
  margin-bottom: 0.5em;
}

.subtitle {
  font-family: 'Roboto';
  margin-bottom: 0;
  margin-top: 5%;
}

.date {
  margin: 0.2em;
  margin-left: 0;
  font-weight: 500;
}

.address {
  margin: 0.2em;
  margin-left: 0;
  font-weight: 500;
}

.des {
  margin: 0;
  margin-top: 1em;
  font-weight: 500;
}

.user {
  margin-left: 0;
  font-weight: 500;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  margin: 0;
  padding-left: 0;
  align-self: center;
}

/* Mobile version*/
@media only screen and (max-width: 767px) {
  .forum-page {
    align-items: center;
  }
}